.send-request {
    margin-bottom: 16px;
  }

  .send-request span {
    margin-left: 8px;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  nz-range-picker {
    margin: 0 8px 12px 0;
  }
